body {
  background-image: url("https://opengameart.org/sites/default/files/battleback2.png");
  background-repeat: no-repeat;
  background-size: cover;
  border : solid red;
  min-height: 100vh;
}

/* les différentes boites*/

.box{
	position: relative;
}


.box{
  background-color: #000000;
  width: 400px;
  border: 5px solid white;
  border-radius: 10px;
  padding: 50px;
  margin: 20px;
  position: absolute;
  top: 0px ;
  left: 20px;
}

.box2{
	position: relative;
}

.box2{
  background-color: #000000;
  width: 300px;
  border: 5px solid white;
  border-radius: 10px;
  padding: 100px;
  position: absolute;
  top: 50px;
  left: 40px;
}

.box3{
	position: relative;
}

.box3{
  background-color: #000000;
  width: 30px;
  border: 5px solid white;
  border-radius: 10px;
  padding: 50px;
  position: absolute;
  top: 460px;
  left: 340px;
  text-align: center;
  opacity: 0.75
}

.box4{
	position: relative;
}

.box4{
  background-color: #000000;
  width: 300px;
  border: 5px solid white;
  border-radius: 10px;
  padding: 59px;
  position: absolute;
  top: -5px;
  left: 140px;
  text-align: center;

}

.box5{
	position: relative;
}

.box5{
  background-color: #000000;
  width: 300px;
  border: 5px solid white;
  border-radius: 10px;
  padding: 45px;
  position: absolute;
  top: -470px;
  left: 500px;
  text-align: center;
  opacity: 0.75
}

/* gestion des ennemis*/

.container{
	position: relative;
}

.container > img{
	position: absolute;
	top: 0px ;
	left: 150px ;
	
}
.progress{
  position: relative;
}


.Ennemis1{

position: relative;
padding: 0px;
left: -100px;
top: -300px;

}

.Ennemis2{

position: relative;
padding: 0px;
left: 0px;
top: -400px;

}

.Ennemis3{

position: relative;
padding: 0px;
left: 0px;
top: -400px;

}


/* Les bouttons*/

.btn1{
  background: #000000;
  color: #FFFFFF;
  border-radius: 0.4em;
  padding: 0.8em;
  height: 0.5%;
  
  position: static;
  top: 515px;
  left: 425px;
  
  opacity: 0.85;
}



.btn1:hover{
  filter: brightness(1.5);
}



/* Les infobulles*/


.Infobulle1 {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.Infobulle1 .Infobulle1Texte {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.Infobulle1 .Infobulle1Texte::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.Infobulle1:hover .Infobulle1Texte {
  visibility: visible;
}
.ImgMonstre{
display: flex;
justify-content: center;

}
